@import '../../../scss/responsive';

.login__delegation {
  background: var(--login-bg);
  height: 100vh;
  width: 100%;
  padding: 10vh 0px;
  & .login__delegation__form {
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(76, 66, 66, 0.15);
    background: var(--primary-bg);
    text-align: center;
    img {
      height: 200px;
      width: auto;
      transition: 0.3s ease;
    }

    p {
      padding-top: 10px;
      color: #676c70 !important;
      font-size: 20px !important;
    }
  }

  @include respond(sm) {
    & .login__delegation__form {
      max-width: 400px !important;
      width: auto !important;

      img {
        height: 150px !important;
        width: auto;
      }
    }
  }
}